<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyperpass.mapper.HpDepartmentMapper">

    <resultMap id="deptResultMap" type="com.hyperpass.domain.HpDepartment">
        <id     property="id"   column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="findAll" resultMap="deptResultMap">
        SELECT id, code, name FROM hp_departments ORDER BY id
    </select>

    <select id="findById" parameterType="long" resultMap="deptResultMap">
        SELECT id, code, name FROM hp_departments WHERE id = #{id}
    </select>

</mapper>
