<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyperpass.mapper.PatientMapper">

    <resultMap id="patientResultMap" type="com.hyperpass.domain.Patient">
        <id property="id" column="id"/>
        <result property="ciValue" column="ci_value"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="findById" parameterType="long" resultMap="patientResultMap">
        SELECT id, ci_value, name
        FROM patient
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.hyperpass.domain.Patient"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO patient (ci_value, name)
        VALUES (#{ciValue}, #{name})
    </insert>
</mapper>
